rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Leitura livre para o app/painel e gravação para usuários logados
    match /{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
